.body {
    background-image: url('../images/carmine-pink-solid-color-background.jpg');
}

.base-column {
    background-color: #fff;
}

.titular {
    font-family: 'Raleway', sans-serif;
}

.with-radius {
    border-radius: 25px;
}

.tab a.active {
    color: #ea4c41 !important;
    background-color: #fff !important;
}

.tabs .tab a:hover {
    background-color: #fff !important;
    color: #ea2241 !important;
}

.tabs .tab a {
    color: #ea4c41 !important;
}

.tabs .indicator {
    background-color: #ea4c41 !important;
}
.side{
    width: 320px;
    height: 560px;
    background-color: palegoldenrod;
    border: px;
    border-style: outset;
    border-radius: 3px;
}
.body1{
    background-color: beige;
}

.labe{
    background-color:darkseagreen;
    position: absolute;
    height: 40px!important;
    width: 210px !important;
    /* right: 1em; */
    left: 3.5em !important;
    top: 6em !important;
    border-radius: 5px;
}
.letras{
    position: absolute;
    top: -0.7em;
    letter-spacing: 1px;
}
.btncomprar{
    background-color:darkseagreen;
    position: absolute;
    top: 37em;
    left: 7em;
}
.shop{
    position: absolute;
    top: -1em;
    left: 0.4em;
    font-family: sans-serif;
    color: black;
}
.products{
    border: 2px;
    position: absolute;
    width: 1038px;
    height: 350 px;
    height: 560px;
    right: 0.2em;
    background-color: palegoldenrod;
    top: 5.3em;
    border-radius: 5px;
    
}